In [6]:
import pandas as pd

In [28]:
# Visualisation des données
cleaned_2022_t1 = pd.read_csv("../../data/processed/2022_elections_tour_1_cleaned.csv", sep=';')
cleaned_2022_t1

      code_postal,departement,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,Blancs,% Blancs/Ins,% Blancs/Vot,Nuls,% Nuls/Ins,% Nuls/Vot,Exprimés,% Exp/Ins,% Exp/Vot,Sexe 1,Parti 1,Voix 1,% Voix/Ins 1,% Voix/Exp 1,Sexe 2,Parti 2,Voix 2,% Voix/Ins 2,% Voix/Exp 2,Sexe 3,Parti 3,Voix 3,% Voix/Ins 3,% Voix/Exp 3,Sexe 4,Parti 4,Voix 4,% Voix/Ins 4,% Voix/Exp 4,Sexe 5,Parti 5,Voix 5,% Voix/Ins 5,% Voix/Exp 5,Sexe 6,Parti 6,Voix 6,% Voix/Ins 6,% Voix/Exp 6,Sexe 7,Parti 7,Voix 7,% Voix/Ins 7,% Voix/Exp 7,Sexe 8,Parti 8,Voix 8,% Voix/Ins 8,% Voix/Exp 8,Sexe 9,Parti 9,Voix 9,% Voix/Ins 9,% Voix/Exp 9,Sexe 10,Parti 10,Voix 10,% Voix/Ins 10,% Voix/Exp 10,Sexe 11,Parti 11,Voix 11,% Voix/Ins 11,% Voix/Exp 11,Sexe 12,Parti 12,Voix 12,% Voix/Ins 12,% Voix/Exp 12
0      01,Ain,L'Abergement-Clémenciat,0001,645,108,16...
1      01,Ain,L'Abergement-de-Varey,0001,213,38,17.84...
2      01,Ain,Ambérieu-en-Bugey,0001,1129,266,23.56,8...
3      01,Ain,Ambérieu-en-Bugey,0002,1128,265,23.49,8...
4      01,Ain,Ambérieu-en-Bugey,0003,1213,246,20.28,9...
...                                                  ...
66888  95,Val-d'Oise,Villiers-le-Bel,0011,1226,397,32...
66889  95,Val-d'Oise,Villiers-le-Bel,0012,910,257,28....
66890  95,Val-d'Oise,Villiers-le-Bel,0013,681,222,32....
66891  95,Val-d'Oise,Villiers-le-Sec,0001,110,14,12.7...
66892  95,Val-d'Oise,Wy-dit-Joli-Village,0001,285,48,...

[66893 rows x 1 columns]

In [27]:
cleaned_2022_t2 = pd.read_csv("../../data/processed/2022_elections_tour_2_cleaned.csv", sep=';')
cleaned_2022_t2

      code_postal,departement,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,Blancs,% Blancs/Ins,% Blancs/Vot,Nuls,% Nuls/Ins,% Nuls/Vot,Exprimés,% Exp/Ins,% Exp/Vot,Sexe 1,Parti 1,Voix 1,% Voix/Ins 1,% Voix/Exp 1,Sexe 2,Parti 2,Voix 2,% Voix/Ins 2,% Voix/Exp 2
0      01,Ain,L'Abergement-Clémenciat,0001,643,146,22...
1      01,Ain,L'Abergement-de-Varey,0001,213,45,21.13...
2      01,Ain,Ambérieu-en-Bugey,0001,1130,322,28.5,80...
3      01,Ain,Ambérieu-en-Bugey,0002,1129,313,27.72,8...
4      01,Ain,Ambérieu-en-Bugey,0003,1213,303,24.98,9...
...                                                  ...
66888  95,Val-d'Oise,Villiers-le-Bel,0011,1227,496,40...
66889  95,Val-d'Oise,Villiers-le-Bel,0012,912,327,35....
66890  95,Val-d'Oise,Villiers-le-Bel,0013,682,307,45....
66891  95,Val-d'Oise,Villiers-le-Sec,0001,110,26,23.6...
66892  95,Val-d'Oise,Wy-dit-Joli-Village,0001,285,53,...

[66893 rows x 1 columns]

In [17]:
taux_chomage = pd.read_csv("../../data/raw/2017_resultats_par_burvot_tour_1.csv", sep=';')
print(taux_chomage.columns)

Index(['Code du département', 'Département', 'Code de la circonscription',
       'Circonscription', 'Code de la commune', 'Commune', 'Bureau de vote',
       'Inscrits', 'Abstentions', '% Abs/Ins', 'Votants', '% Vot/Ins',
       'Blancs', '% Blancs/Ins', '% Blancs/Vot', 'Nuls', '% Nuls/Ins',
       '% Nuls/Vot', 'Exprimés', '% Exp/Ins', '% Exp/Vot', 'N°Panneau', 'Sexe',
       'Nom', 'Prénom', 'Voix', '% Voix/Ins', '% Voix/Exp', 'Code Insee',
       'Coordonnées', 'Nom Bureau Vote', 'Adresse', 'Code Postal', 'Ville',
       'uniq_bdv'],
      dtype='object')

In [16]:
resultats_par_burvot_tour_1 = pd.read_csv("../../data/raw/2022_resultats_par_burvot_tour_1.csv", sep=';')
print(resultats_par_burvot_tour_1.columns)

Index(['Code du département,Libellé du département,Code de la circonscription,Libellé de la circonscription,Code de la commune,Libellé de la commune,Code du b.vote,Inscrits,Abstentions,% Abs/Ins,Votants,% Vot/Ins,Blancs,% Blancs/Ins,% Blancs/Vot,Nuls,% Nuls/Ins,% Nuls/Vot,Exprimés,% Exp/Ins,% Exp/Vot,N°Panneau,Sexe,Nom,Prénom,Voix,% Voix/Ins,% Voix/Exp,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,'], dtype='object')

In [13]:
# Nettoyage des données
taux_chomage = taux_chomage.dropna()
taux_chomage

,Code du département,Département,Code de la circonscription,Circonscription,Code de la commune,Commune,Bureau de vote,Inscrits,Abstentions,% Abs/Ins,...,Voix,% Voix/Ins,% Voix/Exp,Code Insee,Coordonnées,Nom Bureau Vote,Adresse,Code Postal,Ville,uniq_bdv
0,77,Seine-et-Marne,7,7ème circonscription,438,Saint-Thibault-des-Vignes,0003,1063,283,26.62,...,101,9.50,13.32,77438,"48.854007, 2.668821",Groupe scolaire Marie Curie,26 rue de l'Etang de la Loy,77400.0,Saint-Thibault-des-Vignes,Groupe scolaire Marie Curie - Saint-Thibault-...
2,52,Haute-Marne,2,2ème circonscription,331,La Porte du Der,0001,1383,295,21.33,...,198,14.32,18.66,52331,"48.476677, 4.771312",Halle au blé,10 place de l’Hôtel de ville,52220.0,La Porte du Der,Halle au blé - La Porte du Der
4,83,Var,6,6ème circonscription,16,Le Beausset,0007,869,149,17.15,...,2,0.23,0.28,83016,"43.196343, 5.796027",Réféctoire de l'école maternelle Pagnol,Avenue des Tilleuls,83330.0,Le Beausset,Réféctoire de l'école maternelle Pagnol - Le ...
5,83,Var,5,5ème circonscription,61,Fréjus,0030,940,217,23.09,...,11,1.17,1.55,83061,"43.39106, 6.728505",Ecole primaire de Villeneuve,Rue de l'Argentière,83370.0,Fréjus,Ecole primaire de Villeneuve - Fréjus
9,57,Moselle,1,1ère circonscription,645,Semécourt,0001,752,114,15.16,...,5,0.66,0.80,57645,"49.193569, 6.134758",Mairie,3 Place de la République,57280.0,Semécourt,Mairie - Semécourt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
761798,52,Haute-Marne,1,1ère circonscription,193,Euffigneix,0001,240,27,11.25,...,60,25.00,29.56,52193,"48.129863, 5.045702","Bibliothèque, bâtiment de la Mairie",17 grande rue,52000.0,Euffigneix,"Bibliothèque, bâtiment de la Mairie - Euffigneix"
761801,69,Rhône,9,9ème circonscription,264,Villefranche-sur-Saône,0014,991,331,33.40,...,193,19.48,30.16,69264,"45.989475, 4.726876",Ecole Maternelle Anne de Beaujeu,58 rue de la Liberté,69400.0,Villefranche-sur-Saône,Ecole Maternelle Anne de Beaujeu - Villefranc...
761802,62,Pas-de-Calais,6,6ème circonscription,566,Menneville,0001,526,49,9.32,...,0,0.00,0.00,62566,"50.674481, 1.861362",Ecole,Rue de l'école,62240.0,Menneville,Ecole - Menneville
761803,51,Marne,1,1ère circonscription,454,Reims,0605,919,249,27.09,...,3,0.33,0.46,51454,"49.270171, 4.01713",Ecole,15 rue Roger Jardelle,51100.0,Reims,Ecole - Reims
761804,76,Seine-Maritime,10,10ème circonscription,225,Ecretteville-lès-Baons,0001,305,56,18.36,...,1,0.33,0.41,76225,"49.625773, 0.671146",Mairie,1 rue des Troubadours,76190.0,Écretteville-lès-Baons,Mairie - Écretteville-lès-Baons

In [33]:
immigres_deptmt = pd.read_excel("../../data/raw/2021_2022_immigre_departement.xlsx")
immigres_deptmt_processed = pd.read_csv("../../data/processed/immigres_et_descendants_par_departement_2020_2021.csv")
immigres_deptmt_processed

,Code_departement,Nom_departement,Part d'immigrés,Part_descendants_immigres
0,01,Ain,11.0,14.1
1,02,Aisne,5.0,5.7
2,03,Allier,5.8,5.7
3,04,Alpes-de-Haute-Provence,8.1,ns
4,05,Hautes-Alpes,5.9,8.5
...,...,...,...,...
92,92,Hauts-de-Seine,19.0,17.9
93,93,Seine-Saint-Denis,31.6,31.6
94,94,Val-de-Marne,22.7,18.5
95,95,Val-d'Oise,21.1,25.5
96,France hors Mayotte,NaN,10.1,11.2

In [42]:
standart_living = pd.read_excel("../../data/raw/2021_niveau_de_vie.xlsx", skiprows=3)
standart_living.columns

Index(['Code', 'Libellé', 'Nb de ménages fiscaux 2021',
       'Part des revenus des activités non salariées dans le rev. disp. 2021',
       'Médiane du niveau de vie 2021',
       'Part des impôts dans le rev. disp. 2021',
       '1er décile du niv. de vie 2021', '9e décile du niv. de vie 2021',
       'Part des minima sociaux dans le rev. disp. 2021',
       'Part des prestations familiales dans le rev. disp. 2021',
       'Part des revenus du patrimoine et autres dans le rev. disp. 2021',
       'Part des prestations sociales dans le rev. disp. 2021',
       'Part des prestations logement dans le rev. disp. 2021',
       'Part des revenus d'activité dans le rev. disp. 2021',
       'Part des salaires et traitements hors chômage dans le rev. disp. 2021',
       'Part des indemnités de chômage dans le rev. disp. 2021'],
      dtype='object')

In [44]:
standart_living = pd.read_csv("../../data/processed/niveau_de_vie_par_departement_2021.csv")

standart_living

,Code,Nb de ménages fiscaux 2021,Médiane du niveau de vie 2021,Part des minima sociaux dans le rev. disp. 2021,Part des prestations familiales dans le rev. disp. 2021,Part des prestations sociales dans le rev. disp. 2021,Part des prestations logement dans le rev. disp. 2021,Part des indemnités de chômage dans le rev. disp. 2021
0,1,270138,24810,1.4,1.7,3.8,0.7,2.8
1,2,224492,20920,3.6,2.6,7.7,1.5,3.0
2,3,160041,21500,3.4,1.8,6.5,1.3,2.5
3,4,72855,21790,2.7,1.6,5.5,1.2,3.1
4,5,65683,22010,2.5,1.7,5.2,1.0,3.5
...,...,...,...,...,...,...,...,...
91,91,520852,25040,1.8,2.2,4.9,0.9,2.9
92,92,695869,29720,1.2,1.1,2.9,0.6,2.9
93,93,603965,19020,4.2,3.5,9.7,2.0,4.4
94,94,570874,24270,2.2,1.9,5.2,1.1,3.2
95,95,472649,23290,2.2,2.6,5.9,1.1,3.4

In [3]:
density_pop = pd.read_excel("../../data/raw/densite_population_depuis_1968.xlsx")
density_pop

,Observatoire des territoires - ANCT,Unnamed: 1,Unnamed: 2,Unnamed: 3
0,Insee - RP - données historiques depuis 1968 (...,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Densité de population
3,codgeo,libgeo,an,dens_pop
4,01,Ain,1968,58.88
...,...,...,...,...
1514,976,Mayotte,2014,NaN
1515,976,Mayotte,2017,NaN
1516,976,Mayotte,2018,NaN
1517,976,Mayotte,2019,NaN
1518,976,Mayotte,2020,NaN

In [4]:
nombre_pop = pd.read_excel("../../data/raw/1999_2023_population_departement.xlsx")
nombre_pop

,Population de 1999 à 2023 : comparaisons départementales,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,2023 (p),Part dans la population française (p) (en %),2020.0,2015.0,2010,1999
3,01,Ain,671937,1,657856.0,631877.0,597341,514331
4,02,Aisne,522791,0.8,529374.0,538659.0,540508,536181
...,...,...,...,...,...,...,...,...
103,974,La Réunion,873102,1.3,863083.0,850727.0,821136,703820
104,976,Mayotte,310022,0.5,279696.0,232189.0,nd,nd
105,F,France,68042591,100,67441850.0,66422469.0,64612939,60122665
106,(p) estimations provisoires,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,"Source : Insee, Recensement de la Population, ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
nombre_pop = pd.read_csv("../../data/processed/population_par_departement_1999_2023.csv")
nombre_pop

,Code_departement,Nom_departement,2023 (p),Part dans la population française (p) (en %),2020,2015,2010,1999
0,01,Ain,671937.0,1.0,657856.0,631877.0,597341,514331
1,02,Aisne,522791.0,0.8,529374.0,538659.0,540508,536181
2,03,Allier,332443.0,0.5,335628.0,341613.0,342908,345072
3,04,Alpes-de-Haute-Provence,166654.0,0.2,165451.0,161799.0,160149,139515
4,05,Hautes-Alpes,139942.0,0.2,140605.0,140916.0,136971,121338
...,...,...,...,...,...,...,...,...
92,92,Hauts-de-Seine,1642002.0,2.4,1626213.0,1601569.0,1572490,1427888
93,93,Seine-Saint-Denis,1682806.0,2.5,1655422.0,1592663.0,1522048,1383319
94,94,Val-de-Marne,1426748.0,2.1,1407972.0,1372389.0,1327732,1227030
95,95,Val-d'Oise,1274374.0,1.9,1251804.0,1215390.0,1171161,1104533
96,Moyenne métropolitaine,France métropolitaine,65834837.0,96.8,65269154.0,64300821.0,62765235,58496613