In [34]:
import pandas as pd

# Try reading the file with ISO-8859-1 encoding
df = pd.read_csv('../../datasets/2016_2023_delinquance.csv', low_memory=False, encoding='ISO-8859-1')

df

,classe,annee,Unnamed: 2,Unnamed: 3,Unnamed: 4,millPOP,millLOG,faits,POP,LOG,tauxpourmille
0,Homicides,16,01,84.0,victime,16.0,16.0,5,638425.0,"308491,160051384","0,00783177350511023"
1,Homicides,16,02,32.0,victime,16.0,16.0,10,536136.0,"264180,083604683","0,0186519838249996"
2,Homicides,16,03,84.0,victime,16.0,16.0,4,339384.0,"206980,372668462","0,0117860594488839"
3,Homicides,16,04,93.0,victime,16.0,16.0,2,162565.0,"126760,404255932","0,0123027711992126"
4,Homicides,16,05,93.0,victime,16.0,16.0,0,141107.0,"134646,620959699",0
...,...,...,...,...,...,...,...,...,...,...,...
13051,NaN,23,972,2.0,Mis en cause,21.0,20.0,1182,360749.0,"216541,893543653","3,27651635901971"
13052,NaN,23,973,3.0,Mis en cause,21.0,20.0,684,286618.0,"97187,6987757546","2,38645165342023"
13053,NaN,23,974,4.0,Mis en cause,21.0,20.0,2390,871157.0,"388966,10775411","2,74347792648168"
13054,NaN,23,976,6.0,Mis en cause,17.0,17.0,221,256518.0,73880,"0,861537981740073"
13055,NaN,23,NaN,NaN,Mis en cause,NaN,NaN,0,NaN,NaN,NaN

In [36]:
import pandas as pd

# Read the CSV file with ISO-8859-1 encoding and specify the decimal separator as a comma
df = pd.read_csv('../../datasets/2016_2023_delinquance.csv', low_memory=False, encoding='ISO-8859-1', decimal=',')

# Remove the columns that are not useful
columns_to_remove = [
    "Unnamed: 4",
    "millPOP",
    "millLOG",
    "POP",
    "LOG"
]
df = df.drop(columns=columns_to_remove)

# Rename the columns
df = df.rename(columns={"Unnamed: 2": "code_postal"})
df = df.rename(columns={"Unnamed: 3": "code_region"})
df = df.rename(columns={"tauxpourmille": "tauxpourcent"})

# Convert the column tauxpourcent to float
df['tauxpourcent'] = df['tauxpourcent'].astype(float)

# Convert tauxpourcent from per thousand to percentage
df['tauxpourcent'] = df['tauxpourcent'] / 10

df

          classe  annee code_postal  code_region  faits  tauxpourcent
0      Homicides     16          01         84.0      5      0.000783
1      Homicides     16          02         32.0     10      0.001865
2      Homicides     16          03         84.0      4      0.001179
3      Homicides     16          04         93.0      2      0.001230
4      Homicides     16          05         93.0      0      0.000000
...          ...    ...         ...          ...    ...           ...
13051        NaN     23         972          2.0   1182      0.327652
13052        NaN     23         973          3.0    684      0.238645
13053        NaN     23         974          4.0   2390      0.274348
13054        NaN     23         976          6.0    221      0.086154
13055        NaN     23         NaN          NaN      0           NaN

[13056 rows x 6 columns]