In [72]:
import pandas as pd

# Try reading the file with ISO-8859-1 encoding
df = pd.read_csv('../../data/raw/2016_2023_delinquance.csv', low_memory=False, encoding='ISO-8859-1', decimal=',')

df

,classe,annee,Unnamed: 2,Unnamed: 3,Unnamed: 4,millPOP,millLOG,faits,POP,LOG,tauxpourmille
0,Homicides,16,01,84.0,victime,16.0,16.0,5,638425.0,308491.160051,0.007832
1,Homicides,16,02,32.0,victime,16.0,16.0,10,536136.0,264180.083605,0.018652
2,Homicides,16,03,84.0,victime,16.0,16.0,4,339384.0,206980.372668,0.011786
3,Homicides,16,04,93.0,victime,16.0,16.0,2,162565.0,126760.404256,0.012303
4,Homicides,16,05,93.0,victime,16.0,16.0,0,141107.0,134646.620960,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
13051,NaN,23,972,2.0,Mis en cause,21.0,20.0,1182,360749.0,216541.893544,3.276516
13052,NaN,23,973,3.0,Mis en cause,21.0,20.0,684,286618.0,97187.698776,2.386452
13053,NaN,23,974,4.0,Mis en cause,21.0,20.0,2390,871157.0,388966.107754,2.743478
13054,NaN,23,976,6.0,Mis en cause,17.0,17.0,221,256518.0,73880.000000,0.861538
13055,NaN,23,NaN,NaN,Mis en cause,NaN,NaN,0,NaN,NaN,NaN

In [73]:
# Remove the columns that are not useful
columns_to_remove = [
    "Unnamed: 4",
    "millPOP",
    "millLOG",
    "POP",
    "LOG"
]
df = df.drop(columns=columns_to_remove)

# Rename the columns
df = df.rename(columns={"Unnamed: 2": "code_postal"})
df = df.rename(columns={"Unnamed: 3": "code_region"})
df = df.rename(columns={"tauxpourmille": "tauxpourcent"})

# Convert 'code_postal' to int
# Replace '2A' with 201 and '2B' with 202 for conversion to int
df['code_postal'] = df['code_postal'].replace({'2A': 201, '2B': 202})

# Fill NaN values with 0
df['code_postal'] = df['code_postal'].fillna(0)

# Convert 'code_postal' to int
df['code_postal'] = df['code_postal'].astype(int)

# Filter out 'code_postal' values greater than 95 and more than 0
df = df.loc[df['code_postal'] <= 95]
df = df.loc[df['code_postal'] > 0]

# Convert code_postal value to double digit
df['code_postal'] = df['code_postal'].astype(str).apply(lambda x: x.zfill(2))

df

          classe  annee code_postal  code_region  faits  tauxpourcent
0      Homicides     16          01         84.0      5      0.007832
1      Homicides     16          02         32.0     10      0.018652
2      Homicides     16          03         84.0      4      0.011786
3      Homicides     16          04         93.0      2      0.012303
4      Homicides     16          05         93.0      0      0.000000
...          ...    ...         ...          ...    ...           ...
13045        NaN     23          91         11.0   4785      3.642196
13046        NaN     23          92         11.0   6260      3.828065
13047        NaN     23          93         11.0  10059      6.028154
13048        NaN     23          94         11.0   6898      4.873648
13049        NaN     23          95         11.0   5985      4.762826

[12032 rows x 6 columns]